<!---------- Meta HTML Starts --------->
<html>
   <head>
      <title>shivakumar chindam Website Site</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../static/css/style.css">


      <!---------- Top Header HTML Code Starts --------->
<div class="width-100 top-header">
  <div class="container">
    <div class="width-50">
      <p class="head1p1 headquote">Shiva Kumar: India's Fastest Online Shopping Destination </p>
    </div>
    <div class="width-50">
      <ul class="head1ul cashback-sect">
        <li>
          <i class="fa fa-users" aria-hidden="true"></i>
          <a class="head1mr" href="refer.html">Refer Your Friend And Earn Rs. 500 Cashback</a>
        </li>
        <li>
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <a href="downloadtheapp.html"> Download App</a>
        </li>
      </ul>
      </p>
    </div>
  </div>
</div>
<!---------- Top Header HTML Code Ends --------->


<!---------- Logo and Search Panel HTML Code Starts --------->
<div class="width-100 search-panel">
  <div class="container">
    <div class="width-20">
      <img src="../static/images/logo.png" class="logo">
    </div>
    <div class="width-50">
      <input class="search-textbox" type="text" Placeholder="Search for products, brand and more">
      <button class="search-button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="width-30">
      <ul class="cart-sect">
        <li>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <a class="head1mr" href="wishlist.html">Whislist</a>
        </li>
        <li>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <a href="login.html">Login & Signup</a>
        </li>
        <li>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <a href="cart.html">Cart (0)</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!---------- Logo and Search Panel HTML Code Ends --------->

<!---------- Main Menu HTML Code Starts --------->
<div class="width-100">
  <div class="container">
    <ul class="main-menu">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="mobiles.html">Mobiles</a>
      </li>
      <li>
        <a href="grocery.html">Grocery</a>
      </li>
      <li>
        <a href="fashion.html">Fashion</a>
      </li>
      <li>
        <a href="electronics.html">Electronics</a>
      </li>
      <li>
        <a href="home&furniture.html">Home & Furniture</a>
      </li>
      <li>
        <a href="beauty.html">Beauty</a>
      </li>
      <li>
        <a href="toys.html">Toys</a>
      </li>
      <li>
        <a href="books.html">Books</a>
      </li>
      <li>
        <a href="walldecors.html">Wall Decors</a>
      </li>
      <li>
        <a href="medicine.html">Medicine</a>
      </li>
    </ul>
  </div>
</div>
<!---------- Main Menu HTML Code Ends --------->


<center><h1> BOOKS SESSION </h1></center>
<form id="myForm" action="/display" method="post">


<!-- Product-Section HTML Code STARTS -->
<div class="width-100 margin-top-50">
  <div class="container">
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
            <label>
              <input type="radio" name="option" value="bo1" style="display: none;">
              <img class="product-img" src="../static/images/books-1.png">
            </label>
          </div>
          <div>
            <p class="product-name">
              <label>
                <input type="radio" name="option" value="bo1" style="display: none;">
                Software Engineering B.Tech Jntu-Hyd II-Year I-Sem & II-Sem Common To (CSE(AI & ML), CSE(IOT) And AI & ML) Latest 2023-24 Edition  (Paperback, SIA Team Of Experts)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.161</span>
              <span class="product-original-price">Rs.189</span>
              <span class="product-discount">14%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
            <label>
              <input type="radio" name="option" value="bo2" style="display: none;">
              <img class="product-img" src="../static/images/books-2.png">
            </label>
          </div>
          <div>
            <p class="product-name">
              <label>
                <input type="radio" name="option" value="bo2" style="display: none;">
                EVELOPMENT ENGINEERING (Third Year (TY) B.Tech in Computer Engineering, Artificial Intelligence and Machine Learning (AI & ML) / Artificial Intelligence and Data Science (AI & DS)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.200</span>
              <span class="product-original-price">Rs.200</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
            <label>
              <input type="radio" name="option" value="bo3" style="display: none;">
              <img class="product-img" src="../static/images/books-3.png">
            </label>
          </div>
          <div>
            <p class="product-name">
              <label>
                <input type="radio" name="option" value="bo3" style="display: none;">
                Computer Aided Engineering Graphics for JNTU-H 22 Course (I - I - CSE/IT/EEE - ME105ES / I-II - AI&DS/AI&ML/CIVIL/ECE/MECH. - ME203ES) (Decode)  (Paperback, MANOJ Y. BHOJANE, RAJESH S. GORDE)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.395</span>
              <span class="product-original-price">Rs.395</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
            <label>
              <input type="radio" name="option" value="bo4" style="display: none;">
              <img class="product-img" src="../static/images/books-4.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo4" style="display: none;">
                 Engineering Chemistry for JNTU-H 22 Course (I - I - CSE/IT/EEE - CH102BS / I-II - ECE/AI&DS/AI&ML/CIVIL/MECH. - CH202BS) (Decode)  (Paperback, APARNA P. KULKARNI, DR. MANISHA A. JAIL)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.195</span>
              <span class="product-original-price">Rs.195</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo5" style="display: none;">
              <img class="product-img" src="../static/images/books-5.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo5" style="display: none;">
                 OPERATING SYSTEMS (Second Year (SY) AI & ML Semester 4–SPPU)  (Paperback, Mrs. Pallavi P. Ahire , Mrs. Priti P. Jorvekar-Kumbhar)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.450</span>
              <span class="product-original-price">Rs.450</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo6" style="display: none;">
              <img class="product-img" src="../static/images/books-6.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo6" style="display: none;">
                 FUNDAMENTALS OF ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING </label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.250</span>
              <span class="product-original-price">Rs.250</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo7" style="display: none;">
              <img class="product-img" src="../static/images/books-7.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo7" style="display: none;">
                 DATABASE MANAGEMENT SYSTEM (Second Year SY Degree Artificial Intelligence & Machine Learning - AI/ML Semester 4)  (Paperback, Dr. Mrs. Sheetal Gujar-Takale, Sahil Shah)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.300</span>
              <span class="product-original-price">Rs.300</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo8" style="display: none;">
              <img class="product-img" src="../static/images/books-8.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo8" style="display: none;">
                 WEB DEVELOPMENT (Third Year (TY) B.Tech in Artificial Intelligence and Machine Learning (AI & ML) / Artificial Intelligence and Data Science (AI & DS) / AI - Semester 6 - DBATU)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.290</span>
              <span class="product-original-price">Rs.290</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo9" style="display: none;">
              <img class="product-img" src="../static/images/books-9.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo9" style="display: none;">
                 PROGRAMMING IN C MSBTE - K Scheme - FY DIPLOMA (SEM II - CE/CSE/IT/AI&ML/ECE/E&TC/ELEX - 312303/312009)  (Paperback, A.P. Godse, Dr. D. A. Godse)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.325</span>
              <span class="product-original-price">Rs.325</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo10" style="display: none;">
              <img class="product-img" src="../static/images/books-10.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo10" style="display: none;">
                 Detection of Microcalcification in Mammograms Using AI & ML Techniques  (English, Paperback, Jaganathan Subash Chandra Bose)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.6,378</span>
              <span class="product-original-price">Rs.6,378</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo11" style="display: none;">
              <img class="product-img" src="../static/images/books-11.png">
            </label>
          </div>
          <div>
            <p class="product-name">
               <label>
                 <input type="radio" name="option" value="bo11" style="display: none;">
                 Data Structures for BE Anna University R21CBCS (III-CSE - CS3301)  (Paperback, Anuradha A. Puntambekar)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.495</span>
              <span class="product-original-price">Rs.495</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
    <div class="width-25">
      <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
             <label>
              <input type="radio" name="option" value="bo12" style="display: none;">
              <img class="product-img" src="../static/images/books-12.png">
             </label>
          </div>
          <div>
            <p class="product-name">
               <label>
              <input type="radio" name="option" value="bo12" style="display: none;">
              Cloud Computing for BE Anna University R21CBCS (Vertical II - IT/AI&DS & Vertical III - CSE / AI&DS & Vertical II - CS&BS - CCS335)  (Paperback, I.A. DHOTRE)</label>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.295</span>
              <span class="product-original-price">Rs.295</span>
              <span class="product-discount">0%OFF</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------- Product-Section HTML Code Ends --------->

<!-- Featured-Section HTML Code STARTS -->
<div class="width-100 margin-top-50 feature-sect">
  <div class="container">
    <div class="width-20 featured-padding">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>Instant Delivery</h4>
          <p>One day shipping on all order</p>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="featured-bord">
          <div class="width-20 featured-content">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
          <div class="width-80 featured-content margin-top-8">
            <h4>ONLINE SUPPORT 24/7</h4>
            <p>Support online 24 hours a day</p>
          </div>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-life-ring" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>TRY AND BUY</h4>
          <p>Try Product, If you like it then buy it</p>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-gift" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>INSTANT DISCOUNT</h4>
          <p>Upto 50% instant discount on all product</p>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>SECURE PAYMENT</h4>
          <p>All cards accepted</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------- Featured-Section HTML Code Ends --------->

<!-- Footer-Section HTML Code STARTS -->
<div class="width-100 margin-top-50 footer">
  <div class="container">
    <div class="width-25">
      <h2 class="quicklink-heading">Account Detail</h2>
      <ul class="quicklink-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="redirected.html">About us</a></li>
        <li><a href="redirected.html">Search</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="redirected.html">Checkout</a></li>
      </ul>
    </div>
    <div class="width-25">
      <h2 class="quicklink-heading">Quick Link</h2>
      <ul class="quicklink-menu">
        <li><a href="redirected.html">My Profile</a></li>
        <li><a href="redirected.html">Change Password</a></li>
        <li><a href="redirected.html">Order History</a></li>
        <li><a href="wishlist.html">My Whislist</a></li>
        <li><a href="redirected.html">My Cashback</a></li>
      </ul>
    </div>
    <div class="width-25">
      <h2 class="quicklink-heading">Quick Link</h2>
      <ul class="quicklink-menu">
        <li><a href="login.html">Login</a></li>
        <li><a href="redirected.html">Faq</a></li>
        <li><a href="redirected.html">Contact us</a></li>
        <li><a href="downloadtheapp.html">Download App</a></li>
        <li><a href="refer.html">Refer & Earn Cashback</a></li>
      </ul>
    </div>
    <div class="width-25">
      <h2 class="quicklink-heading">GET IN TOUCH</h2>
      <ul class="get-in-touch">
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> E-MAIL:<a href="#" class="footer-e-mail"> cskmnt1@gmail.com</a></li>
        <li><i class="fa fa-headphones" aria-hidden="true"></i> WHATS-APP: +91 -123 456 789</li>
        <li><i class="fa fa-fax" aria-hidden="true"></i> CONTACT NO.: +91 -(123)-4567890</li>
        <li><i class="fa fa-globe" aria-hidden="true"></i> WEBSITE:<a href="https://youtube.com/@shivakumarcreations4970?si=aDOrT4E1Dk_admuC" class="footer-website"> Shiva Kumar Creations </a></li>
      </ul>
      <ul class="social-media">
        <li><a href="https://www.facebook.com/profile.php?id=100063738263355&mibextid=9R9pXO"><img src="../static/images/icon-facebook.png"></a></li>
        <li><a href="https://x.com/ChindhamKumar?t=4pgjKLLLMOs4PGZAuIk4aA&s=08"><img src="../static/images/icon-x.png"></a></li>
        <li><a href="https://www.linkedin.com/in/shiva-kumar-chindam-48a185270?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../static/images/icon-linkedin.png"></a></li>
        <li><a href="https://www.instagram.com/shivakumarcreations?igsh=Mm5nbm1jNWxkN3Z6"><img src="../static/images/icon-instagram.png"></a></li>
      </ul>
    </div>
  </div>
</div>
<!---------- Footer-Section HTML Code Ends --------->

<!-- Footer-bottom Section HTML Code STARTS -->
<div class="width-100 footer2-bacbor">
  <p class="footer2-content">Copyright Â© 2023, shivakumarcreations.com. All Rights Reserved</p>
</div>
<!---------- Footer-bottom Section HTML Code Ends --------->


   </head>
   <body>
<!---------- Meta HTML Ends --------->
<script>
    document.querySelectorAll('input[type=radio]').forEach((radio) => {
        radio.addEventListener('change', function() {
            document.getElementById("myForm").action = `/display/${this.value}`;
            document.getElementById("myForm").submit();
        });
    });
</script>
</html>