<!---------- Meta HTML Starts --------->
<html>
<style>
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  
  
}

nav .navbar-header a{
  font-family:'Raleway',sans-serif;
  letter-spacing:1px;
}
nav .navbar-header a,ul li a{
  color:#fff;
  
}
nav .navbar-header button .fa{
  color:#fff;
  border:1px solid #fff;
  border-radius:5px;
  padding:4px 10px;
  font-size:1.5em;
  position:absolute;
  top:-0.5px;
  left:-30px;
}

.glyphicon-search{
  color:#2874f0;
}

}
form{
  position:relative;
  top:10px;
}

.menu{
  border-bottom:1px solid rgba(0,0,0,0.1);
}
section{
  position:relative;
  top:4.5em;
}
section .container-fluid .thumbnail .caption .buttons{
  margin:1px;
}

section .desc h5 .glyphicon{
  color:#5cb85c;
}
section .desc .breadcrumb{
  padding-left:0;
}

section .desc button:hover{
  background-color:#fff;
  border:1px solid #2874f0;
  color:#2874f0;
}

footer{
  position:relative;
  top:15em;
  color:#565656;
  width:100%;
  margin-bottom:10px;
}
footer .container .col-sm-4 ul li a{
  color:#565656;
}
footer .container .col-sm-4 ul li a:hover{
  text-decoration:none;
}

footer .container-fluid span{
  font-size:30px;
  position:absolute;
  top:25%;
  left:12%;
}
footer .container-fluid h3{
  font-size:20px;
  margin-left:30px;
}

footer .contact button{
  background-color:#565656;
  color:#fff;
}
@media (min-width:863px){
  footer .container-fluid span{
  font-size:40px;
  position:absolute;
  top:10%;
  
}
footer .container-fluid h3{
 font-size:1.9rem; 
  
  width:70%;
  position:relative;
  left:15%;
  top:-10px;
} 
}
</style>
<head>
	<title>shivakumar chindam Website Site</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!---------- Top Header HTML Code Starts --------->
<div class="width-100 top-header">
  <div class="container">
    <div class="width-50">
      <p class="head1p1 headquote">Shiva Kumar: India's Fastest Online Shopping Destination </p>
    </div>
    <div class="width-50">
      <ul class="head1ul cashback-sect">
        <li>
          <i class="fa fa-users" aria-hidden="true"></i>
          <a class="head1mr" href="refer.html">Refer Your Friend And Earn Rs. 500 Cashback</a>
        </li>
        <li>
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <a href="downloadtheapp.html"> Download App</a>
        </li>
      </ul>
      </p>
    </div>
  </div>
</div>
<!---------- Top Header HTML Code Ends --------->


<!---------- Logo and Search Panel HTML Code Starts --------->
<div class="width-100 search-panel">
  <div class="container">
    <div class="width-20">
      <img src="../static/images/logo.png" class="logo">
    </div>
    <div class="width-50">
      <input class="search-textbox" type="text" Placeholder="Search for products, brand and more">
      <button class="search-button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="width-30">
      <ul class="cart-sect">
        <li>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <a class="head1mr" href="wishlist.html">Whislist</a>
        </li>
        <li>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <a href="login.html">Login & Signup</a>
        </li>
        <li>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <a href="cart.html">Cart (0)</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!---------- Logo and Search Panel HTML Code Ends --------->

<!---------- Main Menu HTML Code Starts --------->
<div class="width-100">
  <div class="container">
    <ul class="main-menu">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="mobiles.html">Mobiles</a>
      </li>
      <li>
        <a href="grocery.html">Grocery</a>
      </li>
      <li>
        <a href="fashion.html">Fashion</a>
      </li>
      <li>
        <a href="electronics.html">Electronics</a>
      </li>
      <li>
        <a href="home&furniture.html">Home & Furniture</a>
      </li>
      <li>
        <a href="beauty.html">Beauty</a>
      </li>
      <li>
        <a href="toys.html">Toys</a>
      </li>
      <li>
        <a href="books.html">Books</a>
      </li>
      <li>
        <a href="walldecors.html">Wall Decors</a>
      </li>
      <li>
        <a href="medicine.html">Medicine</a>
      </li>
    </ul>
  </div>
</div>
<!---------- Main Menu HTML Code Ends --------->


<!---------- product page starts--------->
<body>
  <section>
    <div class="container-fluid">
      <div class="row">
        <!-- Product picture -->
        <div class="col-sm-5">
          <div class="thumbnail">
            <img src="{{ product.image_url }}" class="img-responsive" alt="">
           
            <div class="caption">
              <div class="row buttons">
                <button class="btn  col-sm-4 col-sm-offset-2 btn-lg" style="background-color:#ff9f00; color:#fff;font-size:1em;"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;ADD TO CART</button>
               
                                
                <button class="btn col-sm-4 col-sm-offset-1 btn-lg" style="background-color:#fb641b; color:#fff;font-size:1em;"><i class="fa fa-bolt" style="font-size:1.2em;"></i> BUY NOW</button>
              </div>
             
            </div>
          </div>
         
        </div>
       
        <!-- Product Description -->
        <div class="col-sm-7 desc">
        
          <div>
           
            <ol class="breadcrumb col-sm-12" style="background-color:transparent;">
            <h4><td>{{ product.product_name }}</td></h4>
           
            <div class="row">
              <div class="col-sm-2">
                <span class="label label-success">4.6 <span class="glyphicon glyphicon-star"></span></span>
              </div>
           
              <div class="col-sm-5">
                <strong>2,421 Ratings & Reviews</strong>
              </div>
           
            </div>
           
            <div>
              <h3>Rs.<td>{{ product.discounted_price }}</td></h3> 
            </div>
           
            <div>
                  
              <h5><span class="glyphicon glyphicon-calendar"></span> EMIs from <strong>Rs.***/month </strong><a href="errorpage.html">View Plans <i class="fa fa-chevron-right"></i></a></h5>  
           
              <h5><span class="glyphicon glyphicon-tag"></span><strong> Bank Offer</strong> 5% Instant Discount on Visa Cards for First 3 Online Payments. <a href="errorpage.html">T&C</a></h5>
           
              <h5><span class="glyphicon glyphicon-tag"></span><strong> Bank Offer</strong> Extra 5% off* with Axis Bank Buzz Credit Card. <a href="errorpage.html">T&C</a></h5>
         
            </div>    
          
            <br> 
            <div class="row">
              <div class="col-sm-3">
                <a class="btn btn-default btn-block"><i class="fa fa-apple" style="font-size:25px;"></i></a>
              </div>
              <div class="col-sm-9">
             
                <h5>Brand Warranty of 1 Year <a href="errorpage.html">Know More</a></h5>
              </div>
            </div>
            <br>
           
           <div class="row">
             
             <div class="col-sm-6">
               <strong>Color</strong>
                <br><br>
                <button class="btn btn-default" style="width:50px;border:1px dashed #337ab7;">Red</button>
               <button class="btn btn-default" style="width:50px;">Black</button>
              </div>
             
         </div>
         
           <br><br>
           
           <!--div class="row " id="delivery-location">
             <div class="col-xs-1">
               <strong>Delivery</strong>
             </div>
             
             <div class=" row col-xs-4" style="border:0px;border-bottom:1px solid #2874f0;position:relative; left:10%;" >
               <span class="glyphicon glyphicon-map-marker col-xs-1" style="color:#2874f0;padding-left:0;margin-left:0;"></span>
               <input type="text" placeholder="110091" style="border:0;padding-right:0;" class="col-xs-7">
               <a href=" " class="col-xs-1" style="padding-left:0;text-decoration:none;">Change</a>
             </div>
             
           </div>
           <div id="delivery-time" style="position:relative;left:15%;">
               <h5>Delivery in 3-4 days | <a href="" style="color:green;text-decoration:none;">Free</a></h5>
             </div-->
          
           <br><br>
           
           <div id="highlights">
            <strong class="col-xs-3">Highlights</strong> 
             <ul class="col-xs-6">
               <li> ******* *******</li>
               <li> ***  ********* **** ***  *** ********</li>
               <li> ***** ****** ***** ****** *****</li>
               <li> **** ******* ******</li>
               <li> ********  *********</li>
             </ul>
           </div>
         
         </div>
         <br><br>
         
         <div class="container col-xs-12" style="margin-top:50px;">
           <div class="panel panel-default">
             <div class="panel-body">
               <div class="col-sm-12">
                 <h3>PRODUCT DESCRIPTION</h3>
               <p>***** **** ***** ****** ***** ***** ******** ****** ******* ******* ****** ***** ******* *****</p>
                 
               </div>
               
             </div>
             <hr>
             <div class="panel-body">
              <div class="col-sm-12">
                 
                 <div class="col-sm-8">
                 <h3>**** ****** ****</h3>
                 <p>***** ******** ********* ********* **** ********** ******* *******.</p>
               </div>
                 
               <div class="col-sm-4">
                 <img src="" class="img-responsive" alt="">
               </div>
                 
               </div>
               </div>
               <hr>
               <div class="panel-body">
                 <div class="col-sm-12">
                 
                 <div class="col-sm-4">
                   <img src="" class="img-responsive" alt="">
                 </div>
                 
                 <div class="col-sm-8">
                   <h3>
Innovative ****** Technology</h3>
                   <p>
Innovative ****** Technology
The ******, with new techniques and technology.</p>
                 </div>
                 
               </div>
                 
               </div>
               
             <div class="panel-footer">
        
               
                 
                 <h4><a href="errorpage.html	" style="text-decoration:none;">View all features</a></h4>
             
               
               </div>
             
           </div>
           
           
           <!-- Specifications -->
           
           <div class="panel panel-default" id="specifications">
             <div class="panel-heading" style="background-color:#fff;">
               <h3>Specifications</h3>
             </div>
       
             <div class="panel-body">
               
               <h4>General</h4>
               
               <table class="table table-default">
                 <tbody>
                   <tr><td class="col-sm-4">In The Box</td> <td class="col-sm-8">
*****, *****, *****, *****, *****, *****</td></tr>
                   
                   <tr><td class="col-sm-4">Model Number</td>  <td class="col-sm-8">
**********</td></tr>
                   
                    <tr><td class="col-sm-4">Model Name</td>  <td class="col-sm-8">**********</td></tr>
                   
                   <tr><td class="col-sm-4">Color</td>  <td class="col-sm-8">**************</td></tr>
                   
                   <tr><td class="col-sm-4">Browse Type</td>  <td class="col-sm-8">***********</td></tr>
                   
                 </tbody>
                 
               </table>
             
             </div>
             
             <div class="panel-footer">
               <h4><a href="errorpage.html">Read More</a></h4>
               </div>
           </div>
           
         </div>
         
     </div>
   </div>
  </section> 
   
   <br><br>
</body>
</html>
<!---------- product page ends --------->




<!-- Featured-Section HTML Code STARTS -->
<div class="width-100 margin-top-50 feature-sect">
  <div class="container">
    <div class="width-20 featured-padding">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>Instant Delivery</h4>
          <p>One day shipping on all order</p>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="featured-bord">
          <div class="width-20 featured-content">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
          <div class="width-80 featured-content margin-top-8">
            <h4>ONLINE SUPPORT 24/7</h4>
            <p>Support online 24 hours a day</p>
          </div>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-life-ring" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>TRY AND BUY</h4>
          <p>Try Product, If you like it then buy it</p>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-gift" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>INSTANT DISCOUNT</h4>
          <p>Upto 50% instant discount on all product</p>
        </div>
      </div>
    </div>
    <div class="width-20">
      <div class="featured-border">
        <div class="width-20 featured-content">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </div>
        <div class="width-80 featured-content margin-top-8">
          <h4>SECURE PAYMENT</h4>
          <p>All cards accepted</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------- Featured-Section HTML Code Ends --------->

<!-- Footer-Section HTML Code STARTS -->
<div class="width-100 margin-top-50 footer">
  <div class="container">
    <div class="width-25">
      <h2 class="quicklink-heading">Account Detail</h2>
      <ul class="quicklink-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="redirected.html">About us</a></li>
        <li><a href="redirected.html">Search</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="redirected.html">Checkout</a></li>
      </ul>
    </div>
    <div class="width-25">
      <h2 class="quicklink-heading">Quick Link</h2>
      <ul class="quicklink-menu">
        <li><a href="redirected.html">My Profile</a></li>
        <li><a href="redirected.html">Change Password</a></li>
        <li><a href="redirected.html">Order History</a></li>
        <li><a href="wishlist.html">My Whislist</a></li>
        <li><a href="redirected.html">My Cashback</a></li>
      </ul>
    </div>
    <div class="width-25">
      <h2 class="quicklink-heading">Quick Link</h2>
      <ul class="quicklink-menu">
        <li><a href="login.html">Login</a></li>
        <li><a href="redirected.html">Faq</a></li>
        <li><a href="redirected.html">Contact us</a></li>
        <li><a href="downloadtheapp.html">Download App</a></li>
        <li><a href="refer.html">Refer & Earn Cashback</a></li>
      </ul>
    </div>
    <div class="width-25">
      <h2 class="quicklink-heading">GET IN TOUCH</h2>
      <ul class="get-in-touch">
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> E-MAIL:<a href="#" class="footer-e-mail"> cskmnt1@gmail.com</a></li>
        <li><i class="fa fa-headphones" aria-hidden="true"></i> WHATS-APP: +91 -123 456 789</li>
        <li><i class="fa fa-fax" aria-hidden="true"></i> CONTACT NO.: +91 -(123)-4567890</li>
        <li><i class="fa fa-globe" aria-hidden="true"></i> WEBSITE:<a href="https://youtube.com/@shivakumarcreations4970?si=aDOrT4E1Dk_admuC" class="footer-website"> Shiva Kumar Creations </a></li>
      </ul>
      <ul class="social-media">
        <li><a href="https://www.facebook.com/profile.php?id=100063738263355&mibextid=9R9pXO"><img src="../static/images/icon-facebook.png"></a></li>
        <li><a href="https://x.com/ChindhamKumar?t=4pgjKLLLMOs4PGZAuIk4aA&s=08"><img src="../static/images/icon-x.png"></a></li>
        <li><a href="https://www.linkedin.com/in/shiva-kumar-chindam-48a185270?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="../static/images/icon-linkedin.png"></a></li>
        <li><a href="https://www.instagram.com/shivakumarcreations?igsh=Mm5nbm1jNWxkN3Z6"><img src="../static/images/icon-instagram.png"></a></li>
      </ul>
    </div>
  </div>
</div>
<!---------- Footer-Section HTML Code Ends --------->

<!-- Footer-bottom Section HTML Code STARTS -->
<div class="width-100 footer2-bacbor">
  <p class="footer2-content">Copyright Â© 2023, shivakumarcreations.com. All Rights Reserved</p>
</div>
<!---------- Footer-bottom Section HTML Code Ends --------->


   </head>
   <body>
<!---------- Meta HTML Ends --------->